
#hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    max-height: 800px;
}

#hero > img {
    object-fit: cover;
}


#hero > img {
    grid-column: 1;
    grid-row: 1;
}

#hero_content {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
}