.red-text {
    color: rgb(230, 14, 14);
    padding-top: 20px;
}

#textbox {
    margin: 8% 0 6% 8%;
}

.grid-tilbyder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    background-color: #000;

}


.grid-tilbyder a {
    text-decoration: none;
    color: #000;
}


.grid-tilbyder img:hover {
    transition: 0.4s;
    transform: scale(1.03);

}




.workout-text {
    padding: 10px;
    background-color: #fff;
}